{% extends "layout.html" %}
{%block content%}
<div class="bodyForm">
        <center>
            <span>Account Statement</span><br><br><br>
            <form action="/accountStatement" method="POST" style="margin-top: .8cm;">
                <label for="accountid" style="margin-right:4cm;">Account ID</label>
                <input type="text" id="accountid" name="accountid" required><br><br><br>
                <div> 
          
                </div> 
        
                <div class="C selectt"> 
                    <label style="margin-right: 5cm;" for="transactions">Number of Transactions: </label>
                    <input type="Number" id="transactions" name="transactions" min="1" max="10" required>
                </div> 
                <input type="submit" value="Submit" class="formButton" style="margin-right: 8cm; margin-top: .5cm;">
            </form>
            <br>
            <br>
            <br>
            <br>
        </center>
        </div>
{%endblock content%}
