{% extends "layout.html" %}
{%block content%}

<div class="bodyForm">
    <center>
      <span>Customer Status</span><br><br><br>
      <table style="width:50%">
        <tr>
            <th>Transaction Id</th>
            <th>Description</th>
            <th>Date</th>
            <th>Amount</th>
          </tr>
          {%  for cust_sts in acct_statement %}
          <tr>
              <th>{{ cust_sts[0] }}</th>
              <th>{{ cust_sts[1] }}</th>
              <th>{{ cust_sts[2] }}</th>
              <th>{{ cust_sts[3] }}</th>
          </tr>
          {%  endfor %}
      </table>
    </center>
  </div>
  <br>
  <br>
  <br>
  <br>
  

{%endblock content%}