{% extends "layout.html" %}
{%block content%}
<div class="bodyForm">
	<center>
    	<span>Create Customer Screen</span><br><br><br>
        <form method="POST" action="/create_customer_screen" style="margin-top: .8cm;">
  			<label for="ssnid" style="margin-right:4cm;">Customer SSN Id<span style="color: red;font-size: .5cm;">*</span></label>
  			<input type="text" id="fname" name="ssnid"><br><br>
  			<label for="custname" style="margin-right:4.3cm;">Customer Name<span style="color: red;font-size: .5cm;">*</span></label>
  			<input type="text" id="lname" name="custname"><br><br>
            <label for="age" style="margin-right:6.6cm;">Age<span style="color: red;font-size: .5cm;">*</span></label>
  			<input type="text" id="fname" name="age"><br><br>
  			<label for="addr" style="margin-right:5.8cm;">Address<span style="color: red;font-size: .5cm;">*</span></label>
  			<input type="text" id="lname" name="addr"><br><br>
            <label for="state" style="margin-right:6.5cm;">State</label>
  			<select id="state" name="state" style="width: 4.7cm;">
  				<option value=”Andhra Pradesh”>Andhra Pradesh</option>
<option value=”Andaman and Nicobar Islands”>Andaman and Nicobar Islands</option>
<option value=”Arunachal Pradesh”>Arunachal Pradesh</option>
<option value=”Assam”>Assam</option>
<option value=”Bihar”>Bihar</option>
<option value=”Chandigarh”>Chandigarh</option>
<option value=”Chhattisgarh”>Chhattisgarh</option>
<option value=”Dadar and Nagar Haveli”>Dadar and Nagar Haveli</option>
<option value=”Daman and Diu”>Daman and Diu</option>
<option value=”Delhi”>Delhi</option>
<option value=”Lakshadweep”>Lakshadweep</option>
<option value=”Puducherry”>Puducherry</option>
<option value=”Goa”>Goa</option>
<option value=”Gujarat”>Gujarat</option>
<option value=”Haryana”>Haryana</option>
<option value=”Himachal Pradesh”>Himachal Pradesh</option>
<option value=”Jammu and Kashmir”>Jammu and Kashmir</option>
<option value=”Jharkhand”>Jharkhand</option>
<option value=”Karnataka”>Karnataka</option>
<option value=”Kerala”>Kerala</option>
<option value=”Madhya Pradesh”>Madhya Pradesh</option>
<option value=”Maharashtra”>Maharashtra</option>
<option value=”Manipur”>Manipur</option>
<option value=”Meghalaya”>Meghalaya</option>
<option value=”Mizoram”>Mizoram</option>
<option value=”Nagaland”>Nagaland</option>
<option value=”Odisha”>Odisha</option>
<option value=”Punjab”>Punjab</option>
<option value=”Rajasthan”>Rajasthan</option>
<option value=”Sikkim”>Sikkim</option>
<option value=”Tamil Nadu”>Tamil Nadu</option>
<option value=”Telangana”>Telangana</option>
<option value=”Tripura”>Tripura</option>
<option value=”Uttar Pradesh”>Uttar Pradesh</option>
<option value=”Uttarakhand”>Uttarakhand</option>
<option value=”West Bengal”>West Bengal</option>
			</select><br><br>
  			<label for="city" style="margin-right:6.8cm;">City</label>
  			<select id="city" name="city" style="width: 4.7cm;">
				<option value="A">A</option>
				<option value="B">B</option>
				<option value="C">C</option>
				<option value="D">D</option>
			</select><br><br>
			<span style="color: red;font-size: .4cm;margin-right: 8cm;">(*)Fields are compulsory</span><br><br>
  			<input type="submit" value="Submit" class="formButton">
            <a href="/create_customer_screen" class="formButton" style="margin-right: 8cm;">Reset</a>
            </form>
        </center>
</div>
<br>
<br>
<br>
<br>

{%endblock content%}