{% extends "layout.html" %}
{%block content%}
<div class="bodyForm">
	<center>
    	<span>Create Customer</span><br><br><br>
        <form method="POST" action="/create_customer_screen" style="margin-top: .8cm;">
  			<label for="ssnid" style="margin-right:4cm;">Customer SSN Id<span style="color: red;font-size: .5cm;">*</span></label>
  			<input type="text" id="fname" name="ssnid" required><br><br>
  			<label for="custname" style="margin-right:4.3cm;">Customer Name<span style="color: red;font-size: .5cm;">*</span></label>
  			<input type="text" id="lname" name="custname" required><br><br>
            <label for="age" style="margin-right:6.6cm;">Age<span style="color: red;font-size: .5cm;">*</span></label>
  			<input type="text" id="fname" name="age" required><br><br>
  			<label for="addr" style="margin-right:5.8cm;">Address<span style="color: red;font-size: .5cm;">*</span></label>
  			<input type="text" id="lname" name="addr" required><br><br>
			<label for="state" style="margin-right:6.5cm;">State</label>
			<select onchange="print_city('state', this.selectedIndex);" id="sts" name ="state" class="form-control" style="width: 4.6cm; margin-left:.4cm;" required></select><br><br>
			<label for="city" style="margin-right:6.8cm;">City</label>
			<select id ="state" class="form-control" name="city" style="width: 4.6cm; margin-left:.3cm;"required></select><br><br>
			<script language="javascript">print_state("sts");</script>


			<span style="color: red;font-size: .4cm;margin-right: 8cm;">(*)Fields are compulsory</span><br><br>
  			<input type="submit" value="Submit" class="formButton">
            <a href="/create_customer_screen" class="formButton" style="margin-right: 8cm;">Reset</a>
            </form>
        </center>
</div>
<br>
<br>
<br>
<br>
{%endblock content%}