{% extends "layout.html" %}
{%block content%}
<div class="bodyForm">
	<center>
    	<span>Customer Status</span><br><br><br>
      <table style="width:50%">
  <tr>
    <th>Customer Id</th>
    <th>Customer SSN ID</th>
    <th>Status</th>
    <th>Message</th>
    <th>Last Updated</th>
    <th>Operations</th>
    <th>View Profile</th>
  </tr>
  <tr>
    <td>2349287</td>
    <td>235902590</td>
    <td>Active</td>
    <td>Message will be their</td>
    <td>2016-02-23</td>
    <td>Refresh</td>
    <td>View Details</td>
  </tr>
  <tr>
    <td>2349287</td>
    <td>235902590</td>
    <td>Active</td>
    <td>Message will be their</td>
    <td>2016-02-23</td>
    <td>Refresh</td>
    <td>View Details</td>
  </tr>
  <tr>
    <td>2349287</td>
    <td>235902590</td>
    <td>Active</td>
    <td>Message will be their</td>
    <td>2016-02-23</td>
    <td>Refresh</td>
    <td>View Details</td>
  </tr>
  <tr>
    <td>2349287</td>
    <td>235902590</td>
    <td>Active</td>
    <td>Message will be their</td>
    <td>2016-02-23</td>
    <td>Refresh</td>
    <td>View Details</td>
  </tr>
  <tr>
    <td>2349287</td>
    <td>235902590</td>
    <td>Active</td>
    <td>Message will be their</td>
    <td>2016-02-23</td>
    <td>Refresh</td>
    <td>View Details</td>
  </tr>
</table>
</center>
</div>
<br>
<br>
<br>
<br>
{%endblock content%}