{% extends "layout.html" %}
{%block content%}
<div class="bodyForm">
  <center>
    <span>Customer Status</span><br><br><br>
    <table style="width:50%">
      <tr>
        <th>Customer Id</th>
        <th>Customer SSN ID</th>
        <th>Status</th>
        <th>Message</th>
        <th>Last Updated</th>
        <th>Operations</th>
        <th>View Profile</th>
      </tr>
      {%  for cust_sts in cust_status %}
      <tr>
        <th>{{ cust_sts[1] }}</th>
        <th>{{ cust_sts[0] }}</th>
        <th>{{ cust_sts[2] }}</th>
        <th>{{ cust_sts[3] }}</th>
        <th>{{ cust_sts[4] }}</th>
        <th>Refresh</th>
        <th>View Details</th>
      </tr>
      {%  endfor %}
    </table>
  </center>
</div>
<br>
<br>
<br>
<br>
{%endblock content%}