{% extends "layout.html" %}
{%block content%}
<div class="bodyForm">
  <center>
    {%  for acct_sts in acct_status %}    
    <span>Delete Account</span><br><br><br>
    <form action="/delete_account" method="POST" style="margin-top: .8cm;">
      <label for="fname" style="margin-right:4cm;">Account Id<span style="color: red;font-size: .5cm;">*</span></label>
      <span>{{ acct_sts[0] }}</span><input type="hidden" name="AccountID" value="{{ acct_sts[0] }}"><br><br>

      <label for="fname" style="margin-right:3.8cm;">Account Type<span
          style="color: red;font-size: .5cm;">*</span></label>
      <span>{{ acct_sts[1] }}</span><br><br>
      <input type="submit" value="Delete Account" class="formButton" style="align-items: center;">
    </form>
    {%  endfor %}
    </center> 
    </div>  
<br>
<br>
<br>
<br>
{%endblock content%}