{% extends "layout.html" %}
{%block content%}
<div class="bodyForm">
	<center>
    	<span>Deposite Money</span><br><br><br>
        <form action="" style="margin-top: .8cm;">
  			<label for="lname" style="margin-right:4cm;">Customer Id</label>
  			<span style="font-size: .45cm;">Data from DB</span><br><br>
        <label for="lname" style="margin-right:4.2cm;">Account Id</label>
        <span style="font-size: .45cm;">Data from DB</span><br><br>
        <label for="lname" style="margin-right:3.65cm;">Account Type</label>
        <span style="font-size: .45cm;">Data from DB</span><br><br>
        <label for="lname" style="margin-right:4.8cm;">Balance</label>
        <span style="font-size: .45cm;">Data from DB</span><br><br>
  			<label for="lname" style="margin-right:2.5cm;">Deposite</label>
  			<input type="text" id="lname" name="lname"><br><br>
  			
          <input type="submit" value="Submit" class="formButton" style="align-items: center;">
		</form>

    </center>
</div>

{%endblock content%}