
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body class="bg-white">
<div class="container mt-4">
    <div class="w-25 m-auto bg-secondary p-4">
        <h1 text-center text-white mt-4 mb-2>{{message}}</h1>
        <div class="form-group">
            <a href="/home" class="btn btn-success" style="margin-right: 8cm;">OK</a>
        </div>
    </div>
</div>

</body>
</html>