{% extends "layout.html" %}
{%block content%}
<div class="bodyForm">
	<center>
    	<span>Transfer Money</span><br><br><br>
  			<label for="lname" style="margin-right:4cm;">Source Account Id</label><span>{{ scractid }}</span><br><br>
        <label for="lname" style="margin-right:4cm;">Target Account Id</label><span>{{ trgtactid }}</span><br><br>
  			<label for="lname" style="margin-right:4cm;">Source Balance Before Transaction </label><span>{{ prvActSrc }}</span><br><br>
  			<label for="lname" style="margin-right:4cm;">Target Balance Before Transaction </label><span>{{ prvActTrgt }}</span><br><br>
  			<label for="lname" style="margin-right:4cm;">Source Balance After Transaction </label><span>{{ nxtActSrc }}</span><br><br>
        <label for="lname" style="margin-right:4cm;">Target Balance After Transaction </label><span>{{ nxtActTrgt }}</span><br><br>
</center>
</div>
{%endblock content%}